services:
  mam-audiofinder:
    build:
      context: .
      args:
        PUID: ${PUID}
        PGID: ${PGID}
    image: ghcr.io/raygan/mam-audiofinder:latest
    container_name: mam-audiofinder
    networks:
      - nginx-network # only had if you want to run on local network
    ports:
      - "${APP_PORT}:8080"
    env_file:
      - .env
    user: "${PUID}:${PGID}"
    environment:
      UMASK: "${UMASK}"
    volumes:
      - ${DATA_DIR}:/data
      - ${MEDIA_ROOT}:/media
    restart: unless-stopped

networks:
    nginx-network:
      external: true
